{% macro slurm_header(job_name, partition, allocation, nodes, ntasks_per_node, time) -%}
#SBATCH --job-name={{ job_name }}
#SBATCH --output=slurm/slurm-%j.out
#SBATCH --error=slurm/slurm-%j.err
#SBATCH --partition={{ partition }}
{%- if allocation %}#SBATCH --account={{ allocation }}{% endif %}
#SBATCH --nodes={{ nodes }}
#SBATCH --ntasks-per-node={{ ntasks_per_node }}
#SBATCH --time={{ time }}
{%- endmacro %}


