#!/bin/bash

{% import 'blocks/slurm_header.j2' as slurm %}
{% import 'blocks/modules.j2' as blocks %}

{{ slurm.slurm_header(job_name, partition, allocation, nodes, ntasks_per_node, time) }}

{{ blocks.module_setup(module_init or [], module_loads or []) }}

cd {{ job_dir }}
{{ launcher or "srun" }} {{ wrf_exe or "wrf.exe" }}


